* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: verdana;
	background-color: #dde4e7;
}

/* ------ HEADER ------ */

header {
	background-color: #3c7089;
}

header h1 {
	text-align: center;
	padding: 10px;
	font-size: 3em;
	color: lightgray;
	text-shadow: 2px 2px 2px black;
}

/* ------ NAVBAR ------ */

nav ul {
	background-color: #4b6b7a;
}

nav ul li,
nav ul li a {
	display: inline-block;
	color: lightgray;
}

nav ul li a:link,
nav ul li a:visited {
	text-decoration: none;
	padding: 10px;
	transition: all 0.3s;
}

nav ul li a:hover,
nav ul li a:active {
	color: #D4E6F1;
	text-decoration: underline;
}

/* ------ SECTION 1 ------ */

.head {
	background-color: #efefef;
	margin: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.top h2 {
	background-color: #afafaf;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.top h5 {
	background-color: #afafaf;
}

.top .img1 {
	width: 40px;
	height: 40px;
	margin: 2px;
	float: left;
	border-radius: 100px;
}
.top p {
	padding-left: 7px;
}

/* ------ SECTION 2 LEFT ------ */

.bodyleft {
	width: 49%;
	margin: 11px;
	margin-right: 0px;
	outline: 1px solid grey;
	float: left
}

.bottomleft {
	height: 200px;
	background-color: #efefef;
}

.bottomleft h3 {
	background-color: #cacaca;
	color: #003366;
	text-align: center;
}

.bottomleft h6 {
	background-color: #cacaca;
	color: #003366;
	text-align: center;
}

.bottomleft p {
	color: #0f80b6;
	text-align: center;
	text-align: left;
	padding-left: 7px;
	color: black; 
}

/* ------ SECTION 2 RIGHT ------ */

.bodyright {
	width: 49%;
	margin: 11px;
	margin-left: 0px;
	outline: 1px solid grey;
	float: right
}

.bottomright {
	height: 200px;
	background-color: #efefef;
}

.bottomright h3 {
	background-color: #cacaca;
	color: #003366;
	text-align: center;
}

.bottomright h6 {
	background-color: #cacaca;
	color: #003366;
	text-align: center;
}

.bottomright p {
	color: #0f80b6;
	text-align: center;
	text-align: left;
	padding-left: 7px;
	color: black; 
}

/* ------ DROPDOWN ------ */

details {
	padding-left: 7px;
}

/* ------ FOOTER DIV ------ */

.footer1 {
	position: fixed;
	height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
	background-color: #3c7089;
	color: lightgrey;
	clear: both;
}

.footer2 {
	position: static;
	height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
	background-color: #3c7089;
	color: lightgrey;
	clear: both;
}

.m1 {
	padding-top: 10px;
}

/* ------ BODY IMAGES ------ */

.bayonet {
	height: 160px;
	width: 100px;
	float: right;
}

.gas {
	height: 100px;
	width: 100px;
	float: right;
}

.helmet {
	height: 100px;
	width: 100px;
	float: right;
}

.pouches {
	height: 100px;
	width: 100px;
	float: right;
}

.tool {
	height: 100px;
	width: 200px;
	float: right;
}

.water {
	height: 100px;
	width: 100px;
	float: right;
}

.wood {
	height: 100px;
	width: 200px;
	float: right;
}

.rifle {
	height: 100px;
	width: 200px;
	float: right;
}

.housewife {
	height: 100px;
	width: 100px;
	float: right;
}

.trenchcoat {
	height: 160px;
	width: 100px;
	float: right;
}

.paybook {
	height: 100px;
	width: 200px;
	float: right;
}

.messkit {
	height: 100px;
	width: 200px;
	float: right;
}

/* ------ HISTORY FLAGS ------ */

.gallery {
	display: flex;
	width: 675px;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

figure {
	width: 200px;
	margin: 8px 0;
	border: 1px solid #777;
	padding: 8px;
	box-sizing: border-box;
	background-color: #fff;
}

figure img {
	width: 100%;
	height: 100px;
	outline: 1px solid lightgray;
}

figure figcaption {
	text-align: center;
	padding: 8px 4px;
}

h6 {
	color: #003366;
	text-align: center;
}

h3 {
	color: #003366;
	text-align: center;
}


/* ---- Timeline ---- */
ol {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
	background: #31708F;
}
ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  border-radius: 10px;
	border: 10px solid #31708F;
}
ol::before {
	left: -5px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
.time {
	position: relative;
	display: inline-block;
	float: left;
	width: 150px;
	font: bold 14px arial;
  height: 50px;
}
.time .diplome {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}
.time .point {
	content: "";
	top: -4px;
	left: 43%;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid #31708F;
	border-radius: 10px;
	background: #fff;
  position: absolute;
}
.time .description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
.time:hover {
	cursor: pointer;
  color: #48A4D2;
}
.time:hover .description {
  display: block;
}